
@font-face {
  font-family: ApfelGrotezk-Regular;
  src: url(ApfelGrotezk-Regular.woff2);
}
@font-face {
  font-family: ApfelGrotezk-Fett;
  src: url(ApfelGrotezk-Fett.woff2);
}
@font-face {
  font-family: Lack-Regular;
  src: url(Lack-Regular.woff2);
}
html {
  font-family: ApfelGrotezk-Regular, Helvetica;
}
body.home {
  height: 100vh;
  background-image: linear-gradient(135deg,#411356,#E45531);
  background-size: 150%;
  animation: bg-animation 30s infinite alternate;
}
@keyframes bg-animation {
  0% {background--position: left}
  100% {background-position: right;}
}

header {
  position: sticky;
  top: 0;
  display: flex;
  flex-direction: column;
  background-color: white;
}
nav {
  font-size: 24.4px;
  margin-top: 30px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

nav>*{
  padding:10px;
  text-decoration: none;
  color:#E45531
}

nav a:last-child {
  border: 3px solid #E45531;
  justify-self: right;
}
nav a:last-child:hover {
  color:#411356;
  border: 3px solid #411356;
  background-color: #E2EC92;
} 
.logo {
  font-family: Lack-Regular;
  font-size: 39.6px;
  margin: 0;
  
}
/*landing-page*/
header.home {
  background-color: transparent;
}
nav.home>* {
  color: white;
}
nav.home a:last-child{
  border: 3px solid #E2EC92;
  align-self: center;
  padding: 10px;
  text-decoration: none;
}
h2 {
  color:#411356;
  font-size: 34.56px;
  padding-right: 85px;
  margin: 15px auto 20px;
  /* align-self: center; */
  /* position: sticky;
  top: 70px; */
}
/*big cat picture that is not in design*/
.container {
  overflow: hidden;
  height: 100vh;
  /* background-color: blue; */
}
h3, h4, h5, h6 {
  font-family: ApfelGrotezk-Fett, Helvetica;
}
h3, h4 {
  font-size: 34.56px;
  color: #411356;
}
h3 {
  margin-left: 25vh;
  text-decoration: underline;
}
h4 {
  color:#E45531;
}
h5, h6 {
  color:#E45531;
  font-size: 24px;
}
h5 {
  margin-left: 25vh;
}
p, li {
  font-size: 20px;
  line-height: 35px;;
}
#cat {
  width: 160px; 
}
.dog img {
  width: 322px;
  margin-right: 2rem;
}
.menu {
  display: flex;
  margin: 0 40vh; 
  justify-content: space-between;
}
.cat {
  align-self: flex-end;
}

.cat-sitting {
  display: flex;
  margin: 0 25vh;
  justify-content: space-around;
}

/* .right {
  position: relative;
  right: 0px;
} */
/* @keyframes wink {

} */
/* svg {
  width: 220px;
  height: 307px;
} */
