@font-face {
  font-family: ApfelGrotezk-Regular;
  src: url(../assets/fonts/ApfelGrotezk-Regular.woff2);
}
@font-face {
  font-family: ApfelGrotezk-Fett;
  src: url(../assets/fonts/ApfelGrotezk-Fett.woff2);
}
@font-face {
  font-family: Lack-Regular;
  src: url(../assets/fonts/Lack-Regular.woff2);
}


/* you should have separated style sheets for each page, and then have one stylesheet that will contain the styles
that repeat in more than one page and call it common.css, your code will be a lot easier to maintain like that */
html {
  font-family: ApfelGrotezk-Regular, Helvetica;
}

/* in this case, you should use different classes instead of repeating the class home,
as you're applying different styling to each, remember that naming your classes descriptively
will help you make your code more readable and easier to keep track of */

body.home {
  height: 100vh;
  background-image: linear-gradient(135deg, #411356, #e45531);
  background-size: 150%;
  animation: bg-animation 30s infinite alternate;
}

/* here there's a typo in background--position, were you trying to achieve something else? */
@keyframes bg-animation {
  0% {
    background--position: left;
  }
  100% {
    background-position: right;
  }
}


header {
  position: sticky;
  top: 0;
  display: flex;
  flex-direction: column;
  background-color: white;
}

nav {
  font-size: 24.4px;
  margin-top: 30px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

nav > * {
  padding: 10px;
  text-decoration: none;
  color: #e45531;
}

nav a:last-child {
  border: 3px solid #e45531;
  justify-self: right;
}
nav a:last-child:hover {
  color: #411356;
  border: 3px solid #411356;
  background-color: #e2ec92;
}
/* here if you add the css reset to your pet consultant file you shouldn't need the margin: 0; */
.logo {
  font-family: Lack-Regular;
  font-size: 39.6px;
  margin: 0;
}
/*landing-page*/
header.home {
  background-color: transparent;
}
nav.home > * {
  color: white;
}
nav.home a:last-child {
  border: 3px solid #e2ec92;
  align-self: center;
  padding: 10px;
  text-decoration: none;
}
h2 {
  color: #411356;
  font-size: 34.56px;
  padding-right: 85px;
  margin: 15px auto 20px;
  /* align-self: center; */
  /* position: sticky;
  top: 70px; */
}
/*big cat picture that is not in design*/
.container {
  overflow: hidden;
  height: 100vh;
  /* background-color: blue; */
}
h3,
h4,
h5,
h6 {
  font-family: ApfelGrotezk-Fett, Helvetica;
}
h3,
h4 {
  font-size: 34.56px;
  color: #411356;
}
h3 {
  text-decoration: underline;
}
h4 {
  color: #e45531;
}
h5,
h6 {
  color: #e45531;
  font-size: 24px;
}
h5 {
  margin-left: 25vh;
}
p,
li {
  font-size: 20px;
  line-height: 35px;
}
/* why do you need an id here? */
#cat {
  width: 160px;
}
.dog img {
  width: 322px;
  margin-right: 2rem;
}
.services {
  height: 100vh;
}
.services h3 {
  margin-left: 25vh;
}
.cat {
  align-self: flex-end;
}
.menu {
  display: flex;
  margin: 7vh 40vh;
  justify-content: space-between;
}

/* margins should ideally be in em, rem or pixels as a convention, you would obtain better results this way */
@media (max-width: 1000px) {
  .menu {
    margin: 7vh 20vh;
  }
}
@media (max-width: 825px) {
  nav > a {
    display: none;
  }
  h2 {
    padding: 0;
  }
  .menu {
    margin: 7vh 0;
    flex-direction: column;
    align-items: center;
  }
  .cat {
    align-self: center;
  }

  .cat-sitting #cat {
    display: none;
  }
}

/* same here, ideally don't use vh or vw for margin/padding, use em, rem or pixels instead */
.cat-sitting {
  display: flex;
  margin: 0 40vh 10vh 25vh;
  justify-content: space-between;
}

.cat-sitting p {
  max-width: 600px;
  min-width: 300px;
}
.info {
  display: flex;
  margin: 0 30vh 10vh;
  justify-content: space-around;
  position: relative;
}

/* same here, if you add your css reset file to your pet_consultant you shouldn't need to reset the margin: 0; */
.info > * {
  align-items: flex-start;
  margin: 0;
}
.info > h6 {
  width: fit-content;
  justify-self: left;
}
div.text,
ul {
  width: 70%;
}

.text p {
  margin: 0 0 1vh;
}
small {
  font-size: 16px;
  color: #411356;
}
ul {
  /* list-style-position: inside; */
  list-style-image: url(../assets/images/dot.svg);
  padding: 0;
}
/* li::marker {
  color:#E45531;
  font-size: 2em;
} */
li {
  line-height: 35px;
  margin-bottom: 2vh;
  padding-left: 1em;
}

.info img {
  position: absolute;
}
#meow {
  width: 140px;
  top: 40vh;
  right: 65vw;
}
#cat2 {
  width: 220px;
  right: 5vh;
}
.prices {
  margin: 25vh;
  display: flex;
  justify-content: space-around;
  position: relative;
}
.ticket {
  background-image: url(../assets/images/ticket.svg);
  width: 253.54px;
  height: 254.85px;
  position: relative;
  display: flex;

}
.prices p {
  color:#E45531;
  font-family: ApfelGrotezk-Fett, Helvetica;
  font-size: 36px;
}
.price {
  position: absolute;
  bottom: 30px;
  left: 50%;
  transform: translate(-50%, -50%);
}
.frequency {
  position: absolute;
  display: flex;
  top: 40px;
  width: 100%;
  justify-content: space-around;
}

@media (max-width:1000px) {
  .menu {
    margin: 7vh 20vh;
  }
}
@media (max-width:825px) {
  nav > a{
    display: none;
  }
  h2 {
    padding: 0;
  }
  .menu {
    margin:7vh  0;
    flex-direction: column;
    align-items: center;
  }
  .cat {
    align-self: center;
  }

  .cat-sitting #cat {
    display: none;
  }
}

/*relative position block goes over header while scrolling*/

/* .right {
  position: relative;
  right: 0px;
} */
/* @keyframes wink {

} */
/* svg {
  width: 220px;
  height: 307px;
} */
